{% extends 'base1.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {#PRELOADER#}


    {# FIN PRELOADER #}
    {# HOME - SIDEBAR #}
            {# PROFILE#}
            <div class="content-blocks about showx">
                <section class="content" id="about">

{#                    TODO : style a bouger dans une classe#}
                    <div class="block-content" {% if works is empty and educations is empty%} style="margin-bottom: 5px!important;" {% endif %}>
                        <h3 class="block-title">Profile</h3>
                        <h3 class="subheading"></h3>
                        <p>{{me.introCarrer}}</p>
                        <div class="info-list row">
                            <div class="col-sm-6"><span>Name : </span> {{ me.firstname }} {{ me.lastname }}</div>
                            <div class="col-sm-6"><span>Date of birth : </span> July 12, 1989 </div>
                            <div class="col-sm-6"><span>Address : </span> {{ me.city }}</div>
                            <div class="col-sm-6"><span>Email : </span> {{ me.email }}</div>
                            <div class="col-sm-6"><span>Phone : </span>{{ me.phone }} </div>
                            <div class="col-sm-6"><span>Available : </span> {{ me.available }}</div>
                            <div class="col-sm-6"><span>Interest : </span> {{ me.interest }}</div>
                        </div>
                    </div>


                    {# EXPERIENCES#}
                    {% if works is defined and works is not empty %}
                    <div class="block-content">
                        <h3 class="block-title">Experience</h3>
                        <div class="timeline experience">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exp-holder">
                                        {# LOOP HERE#}
                                        {% for work in works %}
                                        <div class="exp">
                                            <div class="hgroup">
                                                <h4><span>{{ work.title }}</span> @ {{ work.company }}</h4>
                                                {% if work.start_at is defined and work.start_at is not empty
                                                    and work.end_at is defined and work.end_at is not empty%}

                                                    {% if work.current_work == true %}
                                                        {{ work.start_at|date("F Y")}} - <span class="current">Present</span>
                                                    {% else %}
                                                        <h5>{{work.start_at|date("F Y")}} - {{ work.end_at|date("F Y") }}</h5>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <p class="workP">{{ work.description }}</p>
                                            {% if work.techno is defined %}
                                                {% for techno in work.techno %}
                                                    {#TODO : Limit 10 technos ?#}
                                                    <span class="badge badge-secondary">
                                                        {{ techno }}
                                                    </span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if educations is defined and educations is not empty %}
                    <div class="block-content">
                        <h3 class="block-title">Education</h3>
                        <div class="timeline education">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="exp-holder">
                                        {#loop#}
                                        {% for educ in educations %}
                                        <div class="exp">
                                            <div class="hgroup">
                                                <h4>{{educ.title}} | <span>{{educ.organisation}}</span></h4>
                                                {% if educ.start_at is defined and educ.start_at is not empty
                                                    and educ.end_at is defined and educ.end_at is not empty%}
                                                    <h5>{{educ.start_at|date("Y")}} - {{ educ.end_at|date("Y") }}</h5>
                                                {% endif %}

                                            </div>
                                            <p> {{ educ.description }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row text-center">
                        <div class="col-md-12 btn-email">
                            <a class="btn lowercase">{{ me.email }}</a>
                        </div>
                    </div>
                </section>
            </div>

{% endblock %}
