{% extends 'base1.html.twig' %}

{% block title %}Sophikitis | Blog{% endblock %}

{% block body %}

<div class="content-blocks blog showx">
    <section class="content">
        <div class="block-content">
            <h3 class="block-title">My Blog</h3>
            <div class="row">
                <div class="col-md-10 mx-auto">

                    {% for article in articles %}
                    <div class="post">
                        <div class="post-thumbnail">
                            <a class="open-post" href="#">
                                <img src="{{ vich_uploader_asset(article, 'coverImageFile') | imagine_filter('cover')  }}" alt="">
                            </a>
                        </div>
                        <div class="post-title">
                            <a class="open-post" href="{{ path('blog.show', {slug: article.slug, id: article.id }) }}">
                                <h2>
                                    {{ article.title }}
                                </h2>
                            </a>
                            <p class="post-info">
                                <span class="post-author">Posted by Jérémie</span>
                                <span class="slash"></span>
                                <span class="post-date">{{ article.createdAt |date("F Y") }}</span>
                                <span class="slash"></span>
                                <span class="post-catetory">category</span>
                            </p>
                        </div>
                        <div class="post-body">
                            <p>
                                {{ article.excerpt }}
                            </p>

                            <a class="btn open-post" href="{{ path('blog.show', {slug: article.slug, id: article.id })}}">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
